html {
    font-family: sans-serif;
    font-size: 14px;
}

table {
    border: 1px solid lightgray;
}

tbody {
    border-bottom: 1px solid lightgray;
}

th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}


input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 91%;
    padding: 12px 12px;
    font-family: 'Poppins', sans-serif;
}